.header{
    height: 25%;
    width: 100%;
    background-color: #A9D0F5;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
    padding-left: 5%
}

#pills{
	height: 25%;
    width: 100%;
    background-color: #A9D0F5;
    color: #fff;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5%;
}