
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/


#login_container
{
	border: black solid 2px;
	height: 320px;
	margin:auto;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.input-group {
	position: relative;
	font-size: 10px;
	color: #aaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.radio-btn{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*.button-popup 
{
	margin: 70px;
	background: white;
	padding: 10px;
}

.button-popup a
{
	font-family: 'Andada', serif;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.window-popup
{
	background: white;
	margin-top: -200px;
	margin-left: -30px;
	font-family: 'Andada', serif;
	font-size: 15px; 
	width: 350px;
	height: 220px;
	position: relative;
	z-index: 10;
	display: none;
	border-color: black;
	border:3px solid;

}*/

.modal-content{
	margin-left: 150px;
	height: 200px;
	width: 350px;
}



			
/*@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
        
    }
}*/

	
@media (min-width: 768px) {
    .login_container .forgot_pwd {
        text-align: right;
		margin-top:10px;
 	}		
}